<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{result.student_name}}'s Result</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
</head>
<style>
body{
    font-family:sans-serif;
}
td, th{
    border:1px solid black;
}
main {
  display: flex;
  justify-content: center;
}



@media screen and (max-width:900px){
table {
  max-width: 100%;
  border:2px solid black;

}
 th,
td {
  text-align: left;
  padding: 5px;
  text-align:center;
  width:25%;
}
h1{
    color:red;
    font-size:18px;
    text-shadow: 1px 1px 1px #000000;

}
.ok{
    width:40px;
    float:left;
}
.ok2{
  width:40px;
  float:right;
}
}

@media screen and (min-width:900px){
table {
  max-width: 50%;
  border:2px solid black;

}
th,
td {
  text-align: left;
  padding: 5px;
  text-align:center;
  width:20%;
}
h1{
    
    color:red;
    font-size:35px;
    text-shadow: 2px 2px 4px #000000;
}
.ok{
    width:100px;
    float:left;
}
.ok2{
    width:100px;
    float:right;
}
}
h2{
    font-size:16px;
    color:green; 
   
}
td, th{
    font-size:10px;
}

p{
    font-size:18px;
    margin-top:-10px;
}
.dec{
  background-color:#89F7E8;
}
td{
    word-wrap: break-word; 
    background-color:#FFE159;
}
#btPrint{
    padding:10px 30px;
    background-color:green;
    color:white;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:20px;
}
.dec2{
  background-color:#FEDADE;
}
</style>
<body>
<main id="tab">
  <table cellspacing="0">
  <tr>
  
    <th class="dec" colspan = "6" style="text-align:center"><h1><img class="ok" src="/img/scl1.png">Banyan International School<img class="ok2" src="/img/scl2.png"></h1> <h2> An English Medium School based upon CBSE playground to 12th </h2><br><p> VISIT : www.ProtechFieldWorld.com</p></th>
  </tr>
  <tr>
    <th colspan = "6" style="text-align:center; color:#94331E; font-size:18px; border:2px solid brown; font-weight:700">Half Yearly Examination 2020 - 2021 <br> <h5 style="text-decoration:underline; margin-top:5px; font-weight:800">PROGRESS REPORT-CLASS</h5></th>
  </tr>
  
  <tr style="margin-top:30px">
  <th colspan="2">Student Name : {{result.student_name}}</th>
  <th colspan="2">Father's Name : {{result.father_name}}</th>
  <th colspan="2">Student-ID : {{result.roll_number}}</th>
  </tr>
  <tr></tr><tr><tr>
  <tr>
    <th rowspan = "3" style="font-size:14px">SUBJECTS</th>
    {{!-- <th colspan="2" style="font-size:14px">UNIT TEST</th> --}}
    <th colspan="4" style="font-size:14px">MARKS</th>
    <th rowspan="3" style="font-size:14px">GRAND TOTAL</th>
  <tr>
  <tr>
    <th colspan="2">Max. Marks</th>
    <th colspan="2">Marks. Obt</th>
    {{!-- <th>Max. Marks</th>
    <th>Marks. Obt</th> --}}
  </tr>

  {{#expand result}}
  <tr>
    <td>{{sub_name}}</td>
    <td colspan="2">{{marks_max}}</td>
    <td colspan="2">{{marks_obtained}}</td>
    {{!-- <td>20</td>
    <td>17</td> --}}
    <td>-</td>
    {{#if max_total}}
    <input type="hidden" id="max_total" value="{{max_total}}" name="">
    <input type="hidden" id="max_obtained" value="{{max_obtained}}" name="">
    <input type="hidden" id="percentage" value="{{percentage}}" name="">
    {{/if}}
  </tr>
    {{/expand}}
  <tr>
    <td>TOTAL</td>
    <td colspan="2" id="set_max_total"></td>
    <td colspan="2" id="set_max_obtained"></td>
    {{!-- <td>20</td>
    <td>17</td> --}}
    <td>-</td>
  </tr>
    <tr>
        <th colspan="6">Obtained (unit-test + half yearly): out of 600</th>
    </tr>
    <tr class="dec2">
        <th colspan="3">Result : -</th>
        <th colspan="3">Pass</th>
    </tr>
    <tr class="dec2">
        <th colspan="3">Percentage : -</th>
        <th id="set_percentage" colspan="3"></th>
    </tr>
    <tr class="dec2">
      <th colspan="3">Total Present : -</th>
      <th colspan="3">69/70</th>
    </tr>
    <tr>
      <th colspan="2">Health Status : - OK</th>
      <th colspan="2">Class Behaviour : - High</th>
      <th colspan="2">Interest : - Cricket</th>
    </tr>
    <tr rowspan="3">
        <th colspan="6" style="text-decoration:underline; padding:10px; font-size:15px">Remarks - {{result.remarks}}</th>
    </tr>
    <tr>
        <td style="background-color:#eee" colspan="6"><p style="color:red; margin-top:5px; font-size:14px; font-weight:800">Disclamer</p> <p style="text-align:justify; font-size:12px">Neither ProtechFieldWorld nor Devoftech is responsible for any inadvertent error that may crept in the results being published on the website. The results published on website are immediate information for students. This cannot be treated as original marksheet. Original Marksheets will be issued by the school administration seperately.</p></td>
    </tr>
</table>
</main>
   <p>
        <input type="button" value="Download PDF" 
            id="btPrint" onclick="createPDF()" />
    </p>
    <script>
      let max_total = document.getElementById('max_total').value;
      let max_obtained = document.getElementById('max_obtained').value;
      let percentage=document.getElementById('percentage').value;

      document.getElementById('set_max_obtained').innerHTML=max_obtained
      document.getElementById('set_max_total').innerHTML=max_total
      document.getElementById('set_percentage').innerHTML=percentage+"%" 
      
      
    function createPDF() {
        var sTable = document.getElementById('tab').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table,img, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=1000,width=1000');

        win.document.write('<html><head>');
        win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write('<img>');
        win.document.write(sTable);         // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); 	// CLOSE THE CURRENT WINDOW.

        win.print();    // PRINT THE CONTENTS.
    }
</script>
</body>

</html>